
header {
  background-color: #ffffff;
  padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


.navbar {
  background-color: #ffffff; 
  display: flex;
  flex-wrap: wrap;
  
}
  
.navbar-nav li {
  margin-right: 20px;
  margin-top: 15px; 
  font-size: 18px; 
}


.navbar-nav li a.nav-link[href="admin.html"] {
  color: rgb(20, 20, 87);
}


.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: black;

  }


form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #cccccc;
}

.form-control {
  border-radius: 10px;
  border: none;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 0px #cccccc;
}

button[type=submit] {
  background-color: #0770b6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 0px #cccccc;
}

button[type=submit]:hover {
  background-color: #2980b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
  }
}







@media screen and (max-width: 600px) {
  header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    background-position: center;
  }
}



.swiffy-slider {
  background-position: center;
  height: 900px;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
    
 
}
